header {
    background-color: rgb(245, 122, 224);
    padding: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}

img {
    height: 43px;
}